body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(242, 242, 242);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header{
    width: 100%;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgb(206, 206, 206) ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main{
    width: 100%;
}

.localisation{
    width:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(233, 232, 232);
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    padding: 20px 50px 0px 50px;
}

h2{
    padding-left: 20px;
    padding-top: 20px;
}

h4{
    font-weight: 100;
    text-transform: uppercase;
}

.element1{
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-weight:100;
    font-size: 20px;
}

.mainbutton{
    display: block;
    background: linear-gradient(#FF79DA, #9356DC);
    text-align: center;
    color: white;
    border-radius: 40px;
    border: 0ch;
    padding: 15px 20px 15px 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 18px;
    box-shadow: 2px 2px 5px 1px rgb(185, 185, 185);
}

.mainbutton:hover{
    background: linear-gradient(#ffa5e5, #a578db);
    box-shadow: 10px 10px 5px 1px rgb(185, 185, 185);
}

.fonctionnement{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-bottom: 20px;
}

.secondbutton{
    position: relative;
    background: rgb(246, 246, 246);
    width: 300px;
    border-radius: 20px;
    border: 0px;
    padding: 5px 25px 5px 25px;
    box-shadow: 2px 2px 5px 1px rgb(185, 185, 185);
    margin: auto;
    margin-bottom: 20px;
}

.troisiemebutton{
    position: relative;
    background: rgb(235, 234, 250);
    width: 300px;
    border-radius: 20px;
    border: 0px;
    padding: 5px 25px 5px 25px;
    box-shadow: 2px 2px 5px 1px rgb(185, 185, 185);
    margin: auto;
    margin-bottom: 20px;
}

.fonctionnementchiffre{
    position: absolute;
    left: -15px; top: 0px;
    background-color: #9356DC;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    color: white;
    padding: 5px;
}

.fa-store{
    color: #9356DC;
}

.fonctionnementpicto{
    position: absolute;
    margin-left: -110px;
    margin-top: 15px;
}

.fonctionnementtexte{
    margin-left: 20px;
    font-size: 15px;
}

.restaurants{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.card {
    position: relative;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgb(206, 206, 206);
    border-radius: 10px;
    margin: 10px 20px 20px 20px;
    display: block;
    width: 100%;
}

.card img{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover; 
    width: 100%;
    height: 200px;
}

.cardresto{
    margin: 10px 0px 10px 20px;
    font-weight: 700;
    font-size: 20px;
    position:relative;
}

.cardville{
    margin: 10px 0px 10px 20px;
    font-weight: 300;
    font-size: 18px;
}

.card h3{
    padding-left: 20px;
    font-size: 17px;
    font-weight: bold;
}

.nouveau{
    position: absolute;
    top: 10px; right: 10px;
    background-color:#99E2D0;
    color: #007b5c;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

.coeurmenu1{
    position: absolute;
    font-size: 30px;
    right: 30px; top: 4px;
}

.coeurmenu2{
    position: absolute;
    font-size: 30.5px;
    right: 30px; top: 4px;
    color: transparent;
    background-image: linear-gradient(#ffa5e5, #a578db);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
}

.coeurmenu2:hover{
    opacity: 1;
    transition: all 600ms ;
}

.footertitle{
    font-size: 20px;
    font-family:'Shrikhand', cursive;
}

.fa-utensils{
    margin-right: 5px;
    font-size: 15px;
}

.fa-handshake-angle{
    font-size: 15px;
}
.fa-location-dot{
    margin-right: 10px;
}

.image_menu{
    position: relative;
    z-index: -1;
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 40px;
    z-index: 2;
    border: 0px;
    border-radius: 40px 40px 0px 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(242, 242, 242);
}

.menutitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 30px;
    font-family:'Shrikhand', cursive;
}

.menuplat{
    background-color: white;
    border-radius: 15px;
    margin: 0px 0px 15px 0px;
    box-shadow: 2px 2px 5px 1px rgb(216, 216, 216);
    animation: appear 2s;
    animation-fill-mode: both;
}

.menuelements{
    display: flex;
    overflow: hidden;
}

.menutitres{
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menulite{
    font-size: 15px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menumontant{
    margin-left: auto;
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.menucheck{
    display: grid;
    place-items: center;
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    margin-right: -50px;
    width: 50px;    
}

.menuelements:hover .menucheck{
    margin-right: 0px;
    transition: all 400ms;
}

.fa-circle-check{
    color: white;
}

.menuelements:hover .fa-circle-check{
    animation: quarterspin 1000ms ease;
}

@keyframes quarterspin{
    0%{
        rotate: -150deg;
    }
    100%{
        rotate: 0deg;
    }
}


.delay1{
    animation-delay: 0.2s;
}

.delay2{
    animation-delay: 0.4s;
}

.delay3{
    animation-delay: 0.6s;
}

.delay4{
    animation-delay: 0.8s;
}

.delay5{
    animation-delay: 1s;
}

.delay6{
    animation-delay: 1.2s;
}

.delay7{
    animation-delay: 1.4s;
}

.delay8{
    animation-delay: 1.6s;
}

.delay9{
    animation-delay: 1.8s;
}

.delay10{
    animation-delay: 2s;
}


@keyframes appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.fa-arrow-left{
    position:absolute;
    margin-left: -320px;
    margin-top: 5px;
    font-size: 25px;
}

footer{
    background: rgb(49, 49, 49);
    bottom:0px;
    width:calc(100% - 20px);
    margin-top: 30px;
    padding:5px 0px 40px 20px;
    color: white;
    font-size: 18px;
}

.trait{
    border-bottom: 2px solid #99E2D0;
    display: inline-block;
    width: 40px;
    margin: -15px 0px 20px 0px;
}

.loader {
    position: fixed;
    display: grid;
    place-items:center;
    background-color: white;
    height:100vh;
    inset:0px;
    z-index:3;
    opacity: 1;
    animation: disappear 1800ms forwards;
    }

.spinner{
    width: 50px;
    height: 50px;
    border: 5px solid rgb(153, 153, 153);
    border-bottom-color: #9356DC;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spin 1s linear infinite;
}

    @keyframes disappear{
        0%{
            transform: scale(1);
        }
        100%{
            visibility: hidden;
        }
    }

    @keyframes spin{
        0%{
            rotate: 0deg;
        }
        100%{
            rotate: 360deg;
        }
    }